.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  background-color:  rgb(68, 68, 194);
  color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    font-weight: bold;
  }
  
  .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-social-media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footer-info  {
    display: flex;
    justify-content: center;
  }
  
  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }
  
  .footer-info__name, .footer-info__email, .footer-info__number {
    margin-bottom: 10px;
  }
  
  .footer-info__name, .footer-info__returns {
    text-align: start;
  }
  
  .footer-info__email, .footer-info__terms {
    text-align: center;
  }
  
  .footer-info__number, .footer-info__contact {
    text-align: end;
  }
  
  .footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
  }
  
  .footer-name {
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  }
  .footer-info_story > .MuiSvgIcon-root {
    font-size: 16px;
    color: honeydew;
    padding-left: 16px;
  }
  .phoneicon{
    display: flex;
  }
  .phoneicon  > .MuiSvgIcon-root {
    font-size: 16px;
    padding-right: 4px;
  }
  .downfooter{
    padding: 4px 16px 4px 16px;
    border-top: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(240, 229, 229);
  }
  .downfooter .MuiSvgIcon-root{
    font-size: 10px;
  }