
.para{

    margin-left: 2px;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin: 0px 300px;
    text-align: start;
}
.paralink{
    color: blue;
    margin-left: 2px;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin: 0px 300px;
    text-align: start;
}
h1{
    text-align: center;
}
h2{
    margin-left: 2px;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin: 0px 300px;
    text-align: start;
}
.about {
    background-color: rgb(241, 238, 231);
    margin-bottom: 125px;

}



