.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    background-color: rgb(68, 68, 194);
    color: cornsilk;
    padding-left: 70px;
    padding-right: 90px;
}
.menu{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex: auto;
}
 .link {
    text-decoration: none;
    color:white;
}
.link:hover{
    /* background-color: hotpink; */
    font-weight: bold;
    color:  rgb(241, 214, 56);
    border-bottom: 2px solid skyblue;
}
.header_name{
    padding-left: 20px;
}
.header_support{
    padding-left: 20px;
}
.header_support h4:hover{
    font-weight: bold;
    color:crimson;
    border-bottom: 2px solid red;
}
.button{
    border-radius: 99px;
}
.button:hover{
    border-radius: 90px;
    font-weight: bold;
    background-color: darkgray;
}