.inquiry{
    padding: 10px;
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
.image{
    width: 100%;
    object-fit: contain;
    border-top: 2px solid gray;
    border-bottom: 2px solid grey;
}
.message{

    font-weight: normal;
}
.inquiry_header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.avatar{
    margin-right: 10px;
}
.time {
    color: grey;
    object-position: right;
    margin-left: 10px;
}

    