/* .landingpage{
    height: 100vh;
    background-color: blanchedalmond;
    display: grid;
    align-items: column;
    place-items: center;
    text-align: center;
    padding: 30px;
} */

.two {
    padding: 2px;
    display: flex;
} 

.Navbar {
    background: blue;
    height: 16vh;
    align-content: center;
}

.Navbar .container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    align-content: center;
    justify-content: flex-start;
    /* justify-content: space-between; */
}

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    justify-content: center;
    align-items: center;
}

.services .services-grid {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 4rem;
}

.services .services-grid .signin {
    flex: 1;
    padding: 1rem;
    border-right: 1px solid black;
}

.services .services-grid .signin .signup-btn {
    border: none;
    background: rgb(92, 207, 92);
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 2rem 0;
    border-radius: 50px;
    color: honeydew;
    font-size: 16px;
    font-weight: bold;
}

.services .services-grid .services-list {
    flex: 2;
    padding: 1rem;
}

.services .services-grid .services-list ul {
    list-style: square;
    padding-left: 2rem;
    font-size: 1.2rem;
}

@media (max-width: 720px) {
    .services .services-grid {
        flex-direction: column;
    }

    .services .services-grid .signin {
        border-right: none;
        border-bottom: 1 px solid black;
    }
}