
.post{
    /* text-align: right; */
    /* float: right; */
    /* display: none; */
    padding: 10px;
    background-color: white;
    max-width: 300px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top: 1px solid gray;
    border-bottom: 1px solid grey;
}
.message{

    font-weight: normal;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.avatar{
    margin-right: 10px;
}
.time {
    color: grey;
    object-position: right;
    margin-left: 10px;
}

    