*{
 margin: 0;   
}
.app{
    padding-top: 20px;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: gainsboro;
    background-image: src="./lights.JFIF";
    /* padding-left:20px;
    padding-right: 20px; */
}
